html{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

.main-header-container{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: end;
    align-items: center

}

.main-logo{
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;
    padding-left: 4rem;

}


.main-cart{
    text-align: center;
    vertical-align: middle;
    padding-right: 2rem;

}

.main-account{
    vertical-align: middle;
    padding-right: 2rem;

}

.main-logo img{
    width: 140px;
}

.main-cart img{
    width: 45px;

}

.main-account img{
    width: 45px;
}

.main-cart input{
    width: 45px;

}

.main-account input{
    width: 45px;
}

.site-nav{
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.links-nav{
    padding: 0;
    margin: 0;
}

.links-nav li{
    display: inline-block;
    padding-right: 80px;
    padding-left: 80px;
}

.links-nav li a{
    transition: all 0.2s ease 0s;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.links-nav li a:hover{
    color: #32c165;
}

.main-shop-container{
    position: relative;
    min-height: 450px;
}

#main-back-img{
    width: 100%;
    height: auto;
}

#main-shop{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 75%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 25px 80px;
}


footer{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2; 
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
}

.footer-container li{
    list-style-type: none; 
    padding-left: 75px;
    margin: 15px 0;
    font-size: larger;
    margin-top: auto;
}

.footer-container ul{
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-container li a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 800px) {
    #main-back-img{
        display: block;

    }
}



@media only screen and (max-width: 800px) {
    #main-shop{
        display: block;
        -ms-transform: translateY(100%);
        transform: translateY(50%);
        left: 25%;
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-decoration: none;
        color: black;
        border: 2px solid black;
        padding: 25px 80px;
    }
}

/* Produktkategorien */

.product-grid{
    display: grid;

    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 750px;
    gap: 6px;
    padding-bottom: 200px;
    justify-content: center;
}

.grid-item{
    width: 400px;
    margin: auto;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
}

.product-a{
    color: inherit;
    text-decoration: inherit;
}

.grid-item img{
    width: 450px;
    height: 500px;
    object-fit: cover;
}

.grid-item h2{
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.grid-item p{
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: large;
}

.grid-item-titel{
    display: inline-block;
}

/*Product-Page*/


.product-page-product-row{
    display: flex;
    padding-left: 25%;
    padding-top: 4%;
    max-width: 100%;
}

.product-page-product-column-div{
    display: flex;
    flex-direction: column;
}

.product-page-product-column-img{
    display: inline-block;
    width: 480px;
    height: 500px;
    object-fit: cover;
}

.product-page-product-column-img-group{
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    row-gap: 10px;
    gap: 1.33%;
}

.product-page-product-col{

    flex: 0 0 24%;
    cursor: pointer;
}

.product-page-product-col-img{
    width: 100%;
    object-fit: cover;
    height: 120px;
}

.product-page-product-description{
    padding-left: 60px;
}

.product-page-product-description-h2{
    margin: 0;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.product-page-product-description-h3{
    margin: 0;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.product-page-product-description-input-div{
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
    height: 40px;
}

.product-page-product-description-input{
    border: none;
    background-color: #f2f2f2;
    width: 150px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 15px;
}

.product-page-product-description-input:focus{
    outline: none;
}

.product-page-product-description-button{
    border: none;
    background-color: #32c165;
    height: 40px;
    width: 230px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.product-page-product-description-button:active{
    background-color: #29d465;
}

.product-page-product-description-a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #32c165;
}

.product-page-product-description-text{
    padding-top: 40px;
}

#product-page-product-description-text-h3{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#product-page-product-description-text-p{
    font-family: Arial, Helvetica, sans-serif;
    width: 30em;
}

/* Shopping Cart */

.shopping_cart{
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin-right: auto;
    margin-top: 80px;
}


.shopping_cart-small-container-products{
    width: 1100px;
}

#shopping_cart-th-product{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.shopping_cart-small-container table{
    width: 100%;
    border-collapse: collapse;
}

.shopping_cart-small-container th{
    text-align: left;
    flex-wrap: wrap;
    background-color: #f2f2f2;
}

#shopping_cart-th-product{
    width: 650px;
    min-width: 650px;
}


.shopping_cart-small-container td{
    padding: 10px 5px;
}

.shopping_cart-small-container td input{
    width: 50px;
    height: 15px;
    padding: 5px;
    font-size: 15px;
    border: none;
}

.shopping_cart-info{
    width: 650px;
    min-width: 650px;
}

.shopping_cart-info-product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.shopping_cart-info-price{
    margin-left: 30px;
}

.shopping_cart-product-row{
    border: solid black 1px;
    background-color: #f2f2f2;
}

.shopping_cart-info-remove-a{
    cursor: pointer;
}

.shopping_cart-product-remove{
    width: 20px;
}

.shopping_cart-info-total-price{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 1100px;
    max-width: 1100px;
    padding-top: 20px;
}

.shopping_cart-info-total-price table{
    max-width: 320px;
    font-weight: bold;
}

.shopping_cart-ordering{
    margin-left: 50px;
    width: 450px;
    height: 450px;
    background-color: #f2f2f2;

}

.shopping_cart-ordering-calculation table{
    padding-top: 25px;
    margin: 0 auto;
    border-spacing: 35px 5px;
    font-weight: bold;
    font-size: large;
}

.shopping_cart-ordering-payment{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin-left: 100px;

}

.shopping_cart-ordering-payment-choice{
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.shopping_cart-ordering-payment-choice div{
    align-items: center;
    margin: auto 0;
}


.shopping_cart-ordering-payment-choice input[type=radio]{
    margin: 0;

    box-sizing: border-box;
    align-items: center;
    appearance: none;
    background:#f2f2f2;
    outline: 2px solid #333;
    border: 3px solid #f2f2f2;
    width: 16px;
    height: 16px;
}

.shopping_cart-ordering-payment-choice input[type=radio]:checked {
    background: #333;
  }

.shopping_cart-ordering-payment-choice p{
    margin-left: 20px;
    font-weight: bold;
    font-size: larger;
    margin-top: 0;
    margin-bottom: 0;
}

#shopping_cart-ordering-payment-message{
    width: 250px;
    background-color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 100px;
    color: red;
    font-weight: bold;
}

#shopping_cart-ordering-payment-checkout{
    margin-left: 100px;
    width: 270px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 15px;
    background-color: #32c165;
    border: none;
    font-size: larger;
    font-weight: bold;
    color:white;
    cursor: pointer;

}

#shopping_cart-ordering-payment-checkout:active {
    background-color: #46d478;
}

/*Kundenbereich-Übersicht*/

.customer-overview-selection{
    margin-top: 75px;
}

.customer-overview-selection a{
    margin-left: 150px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: bolder;
}

.customer-overview-settings{
    margin-bottom: 20px;
}

.customer-overview-log-off{
    padding-top: 600px;
    padding-bottom: 100px;
    padding-right: 100px;
}

.customer-overview-log-off button{
    background-color:#32c165;
    color: white;
    border: none;
    padding: 6px 30px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    font-size: x-large;
    cursor: pointer;
}

#customer-overview-log-off-button:active{
    background-color: #46d478;
}

/*Impressum*/

.imprint-headline{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 75px;
    margin-left: 125px;
}

.imprint{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 75px;
    text-align: justify;
    font-size: large;
}


/*Datenschutzerklärung*/

.privacy-policy-headline{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 75px;
    margin-left: 125px;

}

.privacy-policy{
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 75px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: large;
}

.privacy-policy ul{
    list-style-type: disc ;
}

/*Bestellbestätigung*/

.order-confirmation{
    padding: 100px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    margin:  25px 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}



/*History*/

.history-section{
    /*margin-left: 450px;*/
    margin-left: 15%;
    width: 950px;
}

.history-table{
    background-color: #f2f2f2;
    border-collapse: collapse; 
    width: 950px;
}

.history-info{
    width: 650px;
    min-width: 650px;
}

.history-info-order{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.history-info-order-item{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.history-info-order-price-div{
    background-color: #32c165;
}

.history-info-order-price{
    font-weight: bold;
}

.history-buttonBack-div{
    width: 950px;
    text-align: right;
    padding-top: 15px;
}

.history-buttonBack{
    background-color: #32c165;
    width: 150px;
    height: 40px;
    color: white;
    font-weight: bolder;
    font-size: medium;
    border: none;
    cursor: pointer;
}

.history-buttonBack:active{
    background-color: #29d465;
}

.history-order-row{
    background-color: #f2f2f2;
    border: solid black 1px;
}

.history-order-row td{
    width: 600px;
}


/* Rechnungsadresse und Lieferadresse */
.address-container{
    margin: auto;
}

.address-div-deliver{
    margin: 35px;
    background-color: #f2f2f2;
    padding: 45px ;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 15px;
}

.address-div-bill{
    margin: 35px;
    background-color: #f2f2f2;
    padding: 45px ;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 15px;
}

.address-input{
    width: 450px;
    height: 50px;
    align-self: center;
    padding: 12px 8px;
    margin-bottom: 25px;
    margin-top: 8px;
    display: block;
    border: none;
    box-sizing: border-box;
}

.address-button-div{
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
}

.address-buttonSave{
    background-color: #32c165;
    align-self: center;
    width: 250px;
    height: 50px;
    color: white;
    font-size: medium;
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: 35px;
}

.address-buttonSave:active{
    background-color: #29d465;
}

.address-label{
    align-self: center; 
    display: block;
    font-weight: normal;
}

.address-label-header{
    align-self: center; 
    display: block;
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: bold;
}


/* Login */
.login-div{
    margin: 35px;
    background-color: #f2f2f2;
    align-self: center;
    padding: 45px ;
}

.login-div a{
    text-decoration: none;
}

.login-buttonLogin{
    background-color: #32c165;
    align-self: center;
    margin: 15px 0;
    width: 450px;
    height: 50px;
    color: white;
    font-size: medium;
    display: block;
    border: none;
    cursor: pointer;
}

.login-buttonLogin:active{
    background-color: #29d465;
}

.login-buttonRegister{
    background-color: blue;
    align-self: center;
    margin: 15px 0;
    width: 450px;
    height: 50px;
    color: white;
    font-size: medium;
    display: block;
    border: none;
    cursor: pointer;
}

.login-buttonRegister:active{
    background-color: rgb(78, 78, 255);
}

.login-input{
    width: 450px;
    height: 50px;
    align-self: center;
    padding: 12px 8px;
    margin-bottom: 25px;
    margin-top: 8px;
    display: block;
    border: none;
    box-sizing: border-box;
}

.login-label{
    align-self: center; 
}

/* Registrierung */

.register-div{
    margin: 35px;
    background-color: #f2f2f2;
    align-self: center;
    padding: 45px ;
}

.register-div a{
    text-decoration: none;
}

.register-input{
    width: 450px;
    height: 50px;
    align-self: center;
    padding: 12px 8px;
    margin-bottom: 25px;
    margin-top: 8px;
    display: block;
    border: none;
    box-sizing: border-box;
}

.register-buttonRegister{
    background-color: blue;
    align-self: center;
    margin: 15px 0;
    width: 450px;
    height: 50px;
    color: white;
    font-size: medium;
    display: block;
    border: none;
    cursor: pointer;
}

.register-buttonRegister:active{
    background-color: rgb(80, 80, 255);
}

.register-label{
    align-self: center; 
}